In [2]:
import pandas as pd 

data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
import pandas as pd 

my_list = [1,2,3,4,5,6,7,8,9,10]
my_series = pd.Series(my_list)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [6]:
import pandas as pd 

data = {'Name' : ['Alice' , 'Bob', 'Claire'],
        'Age' : [25,30,27],
        'Gender' : ['female', 'male', 'female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

In Pandas, a DataFrame is a two-dimensional, tabular data structure that consists of rows and columns. It can be thought of as a container for Series objects where each column is a Series. Essentially, a DataFrame is a collection of Pandas Series that share the same index.

On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding any data type. It is similar to a column in a DataFrame but represents a single column of data.

In [7]:
import pandas as pd

# Creating a DataFrame with two columns (Name and Age)
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27]}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)

# Creating a Series for the 'Age' column from the DataFrame
age_series = df['Age']
print("\nSeries (Age column):")
print(age_series)

DataFrame:
     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27

Series (Age column):
0    25
1    30
2    27
Name: Age, dtype: int64

1. head() and tail(): display the first or last few rows of the dataframe.

In [8]:
df.head()

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27

2. info(): provides a concise summary of the dataframe, including data types and missing values.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

3. describe(): generates descriptivestatistics of the dataframe's numeric columns.

In [10]:
df.describe()

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

4. shape: returns the dimensions (rows, columns) of the dataframe.

In [11]:
df.shape

(3, 2)

5. loc[] and iloc[]; access a group of rows and columns by label or integer index.

6. drop(): remove specified labels from rows or columns.

7. groupby(): group dataframe using a mapper or by a series or columns.

8. sort_values(): sort dataframe by one or more columns.

9. fillna(): fill missing values in the dataframe.

10. pivot_table(): create a spreadsheet-style pivot table.

In Pandas, among Series, DataFrame, and Panel, only DataFrame is mutable in nature. This means you can modify the contents of a DataFrame after it has been created. You can add or remove columns, modify values, and perform various operations on the DataFrame.

On the other hand, Series and Panel are immutable. Once created, you cannot change the values of elements in a Series or a Panel directly. If you need to modify a Series or Panel, you typically create a new one with the desired changes.

In [15]:
import pandas as pd

# Creating two Series
series1 = pd.Series([1, 2, 3, 4], name='Column_A')
series2 = pd.Series(['apple', 'banana', 'orange', 'grape'], name='Column_B')

# Combining the Series into a DataFrame
df = pd.DataFrame({'Column_A': series1, 'Column_B': series2})

# Displaying the resulting DataFrame
print(df)

   Column_A Column_B
0         1    apple
1         2   banana
2         3   orange
3         4    grape

In this example, we first create two Series (series1 and series2). Then, we use the pd.DataFrame() constructor to combine these Series into a DataFrame. The keys of the dictionary passed to the constructor become the column names, and the corresponding Series become the columns of the DataFrame.